{% if not (__SELF__.options['facebook_page_url'] is empty) %}
{% set facebook_page_url = __SELF__.options['facebook_page_url'] %}
{% else %}
{% set facebook_page_url = __SELF__.faceBookPage %}
{% endif %}

{% if __SELF__.options['include_share_button'] %}
{% set include_share_button = 'true' %}
{% else %}
{% set include_share_button = 'false' %}
{% endif %}

{% if not (__SELF__.options['custom_css'] is empty) %}
{% set custom_css = __SELF__.options['custom_css'] %}
{% else %}
{% set custom_css = '' %}
{% endif %}


{% if not (facebook_page_url is empty) %}
<div class="fb-like {{custom_css}}" data-href="{{ facebook_page_url }}" data-layout="{{ __SELF__.options['layout'] }}" data-action="{{ __SELF__.options['action_type'] }}" data-show-faces="false" data-share="{{ include_share_button }}"></div>
{% else %}
<div style="text-align: center;">
    <span style="color:red;font-weight: bold;">
        Error : facebook like button cannot be displayed. <br>
        You have to set up an URL or your facebook page URL in October CMS settings
    </span>
</div>
{% endif %}